PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for everyone"

DEBUG=True

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_HOST=postgres_host
POSTGRES_PORT=0000
POSTGRES_OPTIONS=-c search_path=public,schema

ELASTIC_HOST=elastic_host
ELASTIC_PORT=0000
